
<%= simple_form_for(@artwork) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <!--%= f.association :user %>-->
    <%= f.input :image %> <!-- 上傳 -->
　  <%= f.check_box :remove_image %> <!-- 刪除 -->
　  <!-- %= f.hidden_field :image_cache %>  快取 _cache (讓填表時若有誤，不用重新選擇圖片) -->
　  <!--%= image_tag @artwork.image_url(:thumb)%>  <!--如果 user 已有圖片的話，就顯示-->
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-color"%>
  </div>
<% end %>
