<p id="notice"><%= notice %></p>

<!--<h1>Artworks</h1>-->
<%= link_to '上傳你的作品', new_artwork_path, class: "btn btn-color" %>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">上傳作品列表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">個人作品列表</a>
          </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <% @artworks.each do |artwork| %>
              <div class="card">
                <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
                <div class="card-img-top"><%= image_tag artwork.image_url.to_s, class: "img-responsive"%></div>
                
    
                <div class="card-body">
                  <h5 class="card-title"><%= artwork.name %></h5>
                  <p class="card-text"><%= artwork.description %></p>
                  <%= link_to 'Show', artwork, class:"btn btn-info" %>
                  <span>作者：<%= artwork.user.display_name %></span>
                </div>
              </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <% if @artworks.present? %>
              <% @artworks.each do |artwork| %>
                <% if artwork.user_id == current_user.id %>
                  <div class="card">
                    <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
                    <div class="card-img-top"><%= image_tag artwork.image_url.to_s, class: "img-responsive"%></div>
                    
        
                    <div class="card-body">
                      <h5 class="card-title"><%= artwork.name %></h5>
                      <p class="card-text"><%= artwork.description %></p>
                      <%= link_to 'Show', artwork, class:"btn btn-info" %>
                      <span>作者：<%= artwork.user.display_name %></span>
                    </div>
                  </div>
                <% elsif @artworks.empty? %>
                  <h1>目前還沒有您的作品喔!!快來上傳吧!</h1>
                  <%= link_to "上傳你的作品", new_artwork_path, class: "btn btn-color" %>
                <% end %>
              <% end %>
            
              
            <% end %>
          </div>
        </div>
        
      
          <!--%= link_to 'Edit', edit_artwork_path(artwork) %>-->
          <!--%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %>-->
    
        
      </div>
      <div class="col-1"></div>
    </div>

    


<br>

